body {
    background: #f8f8f8 url(../img/pattern.jpg);
    border-top: 4px solid #518d8a;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    text-align: left;
}

strong { font-weight: 700; }
a:hover { text-decoration: none; }

.logo h2 { margin-top: 7px; padding-left: 50px; font-size: 28px; font-weight: 400; color: #555; text-transform: uppercase; }

.logo a {
    display: inline-block;
    width: 166px;
    height: 33px;
    margin-top: 10px;
    background: url(../img/logo.png) left top no-repeat;
    color: #555;
    text-indent: -9999px;
    text-decoration: none;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
.logo a:hover { color: #518d8a; }

.tel-skype p {
    margin-top: 18px;
    padding-right: 50px;
    text-align: right;
    line-height: 30px;
}

.tel-skype i {
    font-size: 20px;
    vertical-align: middle;
}

.tel-skype .pipe { margin: 0 7px 0 5px; color: #ccc; }

::-moz-selection { background: #518d8a; color: #fff; text-shadow: none; }
::selection { background: #518d8a; color: #fff; text-shadow: none; }


/***** Product Showcase *****/

.product-showcase {
    margin: 0 auto;
    background:#2d2d2d;
}

.product-showcase-pattern {
    margin: 0 auto;
    background-image: url(../img/pattern-2.png);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
}
.product-background {
    margin-top: 80px;
    padding-bottom: 40px;
    background: #2d2d2d; /* browsers that don't support rgba */
    background: rgba(230, 237, 216, 0.13);
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.product-title {
    margin: 25px 0 0 0;
}

.product-title h1 {
    padding-right: 40px;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
    line-height: 58px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.product-title div.product-description {
    margin-top: 20px;
    padding-right: 40px;
    color: #fff;
    line-height: 30px;
    text-shadow: 0 1px 7px rgba(0,0,0,.2);
}

.product-title div.product-description h3 {
    margin-top: 25px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}
.features_2 h3 {
    margin: 0 40px 30px 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #aaa;
    font-size: 36px;
    font-weight: 400;
    color: #2d2d2d;
}

.features_2 p {
    line-height: 30px;
}
.features_2 .feature-icon {
    float: left;
    text-align: center;
}

.features_2 .feature-icon i {
    display: inline-block;
    width: 55px;
    margin-top: 13px;
    font-size: 50px;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

.features_2 .feature-text {
    float: left;
    width: 265px;
    margin-left: 20px;
}

.features_2 .feature-text h4 { font-size: 24px; font-weight: 400; line-height: 28px; }


.about-us_2 {
    margin-top: 40px;
}

.about-us_2 h3 {
    margin: 0 40px 30px 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #aaa;
    font-size: 36px;
    font-weight: 400;
    color: #2d2d2d;
}

.about-us_2 h5 {
    margin-left: 50px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.about-us_2 p {
    margin-left: 50px;
    margin-right: 40px;
    line-height: 30px;
}


.gallery_2 {
    margin-top: 40px;
}

.gallery_2 h3 {
    margin: 0 40px 30px 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #aaa;
    font-size: 36px;
    font-weight: 400;
    color: #2d2d2d;
}

.gallery_2 h5 {
    margin-left: 50px;
    margin-right: 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.gallery_2 p {
    margin-left: 50px;
    margin-right: 40px;
    margin-bottom: 20px;
    line-height: 30px;
}

.gallery_2 .gallery-images {
    margin: 15px 40px 25px 50px;
}

.gallery_2 .gallery-images .img-wrapper {
    position: relative;
    display: inline-block;
    margin: 13px 10px 0 0;
    cursor: pointer;
}

.gallery_2 .gallery-images .img-background {
    display: none;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100px;
    height: 100px;
    z-index: 100;
    background: #518d8a url(../img/pattern-2.png); /* browsers that don't support rgba */
    background: rgba(81,141,138,.8) url(../img/pattern-2.png);
    text-align: center;
}

.gallery_2 .gallery-images .img-background i {
    font-size: 40px;
    color: #fff;
    line-height: 100px;
    text-shadow: 1px 1px 1px rgba(0,0,0,.1);
}

.gallery_2 .gallery-images img {
    padding: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
}


/* Using this */
.using-this {
    margin-top: 35px;
    text-align: center;
}

.using-this h3 {
    margin: 0 40px 40px 50px;
    padding: 0 0 10px 0;
    border-bottom: 1px dotted #aaa;
    font-size: 36px;
    font-weight: 400;
    color: #2d2d2d;
    text-align: left;
}

.using-this-container {
    text-align: center;
}
footer {
    margin-top: 60px;
    padding: 30px 0;
    background: #2d2d2d url(../img/pattern-3.jpg);
    -moz-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.3) inset;
    color: #aaa;
}

footer h3 {
    margin-left: 50px;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    color: #ddd;
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

footer p { line-height: 30px; }

footer a {
    color: #ddd;
    -o-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}
footer a:hover { color: #aaa; }

.from-twitter .show-tweet {
    margin-left: 50px;
}

.tweet_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
	
.tweet_list li {
    list-style-type: none;
    line-height: 30px;
}

.testimonials p {
    margin-left: 50px;
}

.testimonials .test-author {
    margin-top: 25px;
    padding-left: 50px;
}

.testimonials .test-author span { color: #ddd; }

.testimonials .test-author img {
    float: left;
    margin-right: 20px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.contact-us form {
    margin: 17px 0 0 50px;
}

.contact-us p {
    margin-left: 50px;
    margin-right: 50px;
}

.contact-us form input, .contact-us form textarea {
    width: 75%;
    padding: 8px 15px;
    background: #222;
    border: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #aaa;
}

.contact-us form input:focus, .contact-us form textarea:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.contact-us form button:hover {
    background: #222;
    color: #aaa;
}

.social-links {
    margin: 40px 50px 0 50px;
    padding-top: 40px;
    border-top: 1px dotted #4d4d4d;
    text-align: center;
}

.copyright {
    margin-top: 20px;
    text-align: center;
}